{% extends "base.html" %}

{% block page_title %}Passwort aktualisiert{% endblock %}

{% block content %}
<section class="panel panel--narrow">
    <div class="panel__header panel__header--compact">
        <div>
            <p class="section-kicker">Zugang</p>
            <h2>Passwort aktualisiert</h2>
            <p class="panel__lead">Dein neues Passwort wurde gespeichert. Du kannst dich jetzt wieder anmelden.</p>
        </div>
    </div>
    <div class="button-row">
        <a href="{% url 'login' %}" class="button">Zur Anmeldung</a>
    </div>
</section>
{% endblock %}
