<div class="field field--{{ field.name }} {% if field.errors %}field--error{% endif %}">
    {% if field.widget_type == "checkboxselectmultiple" %}
    <span class="field__label" id="{{ field.id_for_label }}_label">{{ field.label }}</span>
    <div class="choice-list">
        {% for option in field %}
        <label class="choice-list__item" for="{{ option.id_for_label }}">
            {{ option.tag }}
            <span>{{ option.choice_label }}</span>
        </label>
        {% endfor %}
    </div>
    {% elif field.widget_type == "checkbox" %}
    <label for="{{ field.id_for_label }}" class="choice-list__item choice-list__item--single">
        {{ field }}
        <span>{{ field.label }}</span>
    </label>
    {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% endif %}
    {% if field.help_text %}
    <small id="{{ field.id_for_label }}_help">{{ field.help_text }}</small>
    {% endif %}
    {{ field.errors }}
</div>
